
<!-- Footer -->
<footer class="bg-surface-container-lowest dark:bg-on-secondary-fixed border-t border-outline-variant w-full mt-auto py-stack-lg px-container-padding-desktop flex flex-col md:flex-row justify-between items-center gap-stack-md">
<div class="font-headline-md text-headline-md font-bold text-primary">Savvy</div>
<div class="flex flex-wrap justify-center gap-6">
<a class="font-body-md text-body-md text-on-surface-variant hover:text-primary transition-colors" href="{% url 'privacy' %}">Privacy Policy</a>
<a class="font-body-md text-body-md text-on-surface-variant hover:text-primary transition-colors" href="{% url 'terms_of_service'%}">Terms of Service</a>
<a class="font-body-md text-body-md text-on-surface-variant hover:text-primary transition-colors" href="{% url 'security'%}">Security</a>
<a class="font-body-md text-body-md text-on-surface-variant hover:text-primary transition-colors" href="{% url 'Contact_us' %}">Contact Us</a>
</div>
<div class="font-body-md text-body-md text-on-surface-variant">
            © 2026 Savvy Financial. All rights reserved.
        </div>
</footer>
</body>
</html>